.ta10 {
  background-image:url(textarea.jpg);
  background-repeat:repeat-x;
  border:1px solid #d1c7ac;
  width: 100%;
  height: 400px;
  color:#333333;
  padding:3px;
  margin-right:4px;
  margin-bottom:4px;
  margin-top: 6px;
  font-size: 20px;
}

.entry {
  font-size: 18px;
  padding-top: 15px;
}

td {
  padding: 3px;
  line-height: 1.8;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

@font-face {
  font-family: Bombing;
  src: url('Bombing.ttf');
}

.branding {
  font-family: 'Bombing';
  font-size: 50px;
}

.form-control {
  width: 62%;
}

.alert-success {
  display: none;
}

.btn-default {
  margin-top: 4px;
}

body {
  background-color: #fefefe;
}